@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
  transition: all 0.4s;
}

.nav-item a:hover {
  color: #f65072;
}

.navbar-brand {
  height: 150px;
  width: 150px;
}

.first {
  height: 80px;
}

.logo {
  height: 60px;
  width: 80px;
  margin-top: 30px;
}

.search {
  height: 50px;
  outline: none;
  border: 2px solid #f65072;
  background-color: transparent;
  border-radius: 20px 0px 0px 20px;
  border-right: none;
}

.btn1 {
  height: 50px;
  outline: none;
  border: none;
  background-color: #f65072;
  color: white;
  border-radius: 0px 20px 20px 0px;
  transition: all 0.4s;
}

.btn1:hover {
  background-color: #d71a40;
}

.bi-bag-heart {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding-top: 5px;
}

.bi-bag-heart:hover {
  color: #f65072;
}

.navbar-toggler {
  font-size: 20px;
  color: black;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.main {
  background: url(./images/hero-baanner.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.mbtn1 {
  height: 50px;
  width: 25%;
  outline: none;
  border: none;
  color: white;
  background: #f65072;
  border-radius: 20px;
  transition: all 0.4s;
}

.mbtn1:hover {
  background-color: #d71a40;
}

.mbtn2 {
  height: 50px;
  width: 25%;
  outline: none;
  border: solid 2px #f65072;
  color: #f65072;
  background: transparent;
  border-radius: 20px;
  transition: all 0.4s;
}

.mbtn2:hover {
  background-color: #d71a40;
  color: white;
}

.product p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  padding-top: 100px;
}

.product a {
  color: #f65072;
}

.product a:hover {
  color: #d71a40;
}

.card-link {
  color: #d71a40;
}

footer {
  background-color: #f65072;
}

.about-us {
  color: #f65072;
}/*# sourceMappingURL=style.css.map */